body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*  primeira caixa foto de perfil*/
#container-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 19px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

/* tamanho da foto de perfill */
#img-png{
    width: 30px;
    border: 3px solid rgba(217, 217, 217, 0.741);
    border-radius: 360px;
    padding: 1px;
    cursor: pointer;
}

#img-png:hover{
    box-shadow: 0px 0px 2px 0px;
}
/* cor do link*/
.container-link{
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-family: ;
}

/* passar do mouse nos link*/
.container-link:hover{
    text-decoration: underline;
}

/*a maior caixa do mundo*/
#container-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*img do google*/
#container-top{
    display: flex;
    justify-content: center;
}

/*organizaçao da logo do google*/
#center{
    width: 370px;
}

/*organizaçao da barra de navegaçao*/
#container-navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 90px;
}

#container-navbar{
    display: flex;
    width: 58cap;
    justify-content: center;
    border: 1px solid rgba(198, 198, 198, 0.679);
    border-radius: 28px ;
    height: 46px;
    padding: 2px 8px;
    box-shadow: 0px 3px 6px 0px rgba(232, 232, 232, 0.609);
}

#container-navbar:hover{
    box-shadow: 0px 1px 7px 2px rgba(201, 201, 201, 0.679);
}

#icones{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#icones svg{
    width: 23px;
}

#icones-ia{
    display: flex;
    background:  rgba(244, 244, 244, 0.979);
    border-radius: 100px;
    width: 94px;
    height: 28px;
    align-items: center;
}

#icones-ia:hover{
    border: 1px solid;
    border-right-color: red;
    border-bottom-color: rgb(0, 128, 2);
    border-top-color: orange;
    border-left-color: blue;
 
    box-shadow: 1px 1px 0px rgba(210, 210, 210, 0.679);
}

/*barra de navegaçao*/
#navegador{
    width: 82%;
    border-radius: 25px;
    outline: none;
    border: none;
}

/*organizaçao dos botoes*/
#container-button{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 25px;
}

/*botoes*/
.container-buttons{
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
   padding: 10px;
   background-color: rgba(244, 244, 244, 0.979);
}

.container-buttons:hover{
    background: rgb(240, 240, 240);
    box-shadow: 1px 2px 0px 0px rgb(218, 218, 218);
    border: 1px solid rgb(230, 230, 230);
}


#container-end{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 230px;
}
#container-country{  
    background: rgba(244, 244, 244, 0.866);
    padding: 20px;
    color: rgb(52, 52, 52);
}

#container-infos{
    display: flex;
    justify-content: space-between;
    background: rgba(244, 244, 244, 0.866);
    padding: 10px;
    gap: 40px;
    align-items: center;
}

#contsiner-information{
    display: flex;
    gap: 40px;
}
#container-information2{
    display: flex;
    gap: 40px;
    align-items: center;
}

#container-apps{
    width: 25px;
    cursor: pointer;
}

#plus{
    width: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
}
