body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*  primeira caixa foto de perfil*/
#box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    gap: 13px;
}

/* tamanho da foto de perfill */
#png{
    width: 50px;
    border: 1px solid black;
    border-radius: 360px;
}

/* cor do link*/
.zone{
    color: black;
    text-decoration: none;
    
}

/* passar do mouse nos link*/
.zone:hover{
    text-decoration: underline;
}

/*a maior caixa do mundo*/
#dimension{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*img do google*/
#dimension1d{
    display: flex;
    justify-content: center;
}

/*organizaçao da logo do google*/
#center{
    width: 370px;
}

/*organizaçao da barra de navegaçao*/
#dimension2dvd{
    display: flex;
    justify-content: center; 
}

#dimension2d{
    display: flex;
    width: 45%;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px ;
    height: 40px;
    padding: 2px 8px;

}

#icones{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


#icones svg{
    width: 23px;
}
#icones-ia{
    display: flex;
    border: 1px solid rgb(169, 168, 168);
    border-radius: 100px;
    width: 100px;
    height: 30px;
    align-items: center;
}

#icones-ia:hover{
    border-width: px;
    border-right-color: red;
    border-bottom-color: rgb(0, 128, 2);
    border-top-color: orange;
    border-left-color: blue;
    transition: 0.5s;
    box-shadow: 1px 1px 0px px rgba(210, 210, 210, 0.679);
}



/*barra de navegaçao*/
#navegador{
    width: 80%;
    border-radius: 20px;
    outline: none;
    border: none;
    
}

/*organizaçao dos botoes*/
#dimension3d{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 25px;
}

/*botoes*/
.mega-zord{
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
   padding: 10px;
   background-color: rgba(244, 244, 244, 0.979);
}

.mega-zord:hover{
    background: rgb(240, 240, 240);
    box-shadow: 1px 2px 0px 0px rgb(218, 218, 218);
    border: 1px solid rgb(230, 230, 230);
}


#multiverse{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 308px;
    

}
#head-zord{
    
    padding: 10px;
    background: rgba(210, 210, 210, 0.679);
    padding: 20px;
}
#dody-zord{
    display: flex;
    justify-content: space-between;
    background: rgba(210, 210, 210, 0.679);
    padding: 10px;
    
}

#bone-zord{
    display: flex;
    gap: 40px;
}
#blod-zord{
    display: flex;
    gap: 40px;
}
